@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    background: #8E2DE2;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.main{
    height: 100vh;
}
.main_container{
    width: 300px;
    height: 600px;
    background: white;
    border-radius: 30px;
    position: relative;
    flex-direction: column;
}
.sub_container{
    width: 280px;
    height: 590px;
    /* background: rgb(228, 71, 71); */
    border-radius: 30px;
    display: none;
    /* position: relative;
    left: 50%;
    transform: translate(-50%); */
}
.nav{
    width: 250px;
    height: 80px;
    background: white;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);    
    border-radius: 25px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.137),
                0 -0.2px 10px rgba(0, 0, 0, 0.137);
    justify-content: space-evenly;
}
.box{
    width: 50px;
    height: 50px;
    font-size: 0.8rem;
    flex-direction: column;
    position: relative;
    transition: all .4s;
    font-weight: 700;
}
input{
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    -webkit-appearance: none;
}
input::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: -100;
    border-radius: 10px;
}
input:checked::before{
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.021),
    0 -0.1px 10px rgba(0, 0, 0, 0.158);
} 
p, i{
    color: #333333;
}
.box i,.box p{
    color: #333333;
}
.box p{
    margin-top: 3px;
    font-size: 0.7rem;
}
input:checked ~ i,
input:checked ~ p{
    color: #4b00e0de;
    text-shadow: 0 0 30px #4b00e0de;
}


/* home component */
#home{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    overflow: hidden;
}
#home header {
    top: 0;
    left: 0;
    width: 280px;
    margin-top: 10px;
    justify-content: space-between;
    padding: 10px 10px;
    /* background: #8E2DE2; */
}
header .logo p{
    font-weight: 100;
    font-size: 1.2rem;
     font-family: 'Pacifico', cursive;
}
header .chat i{
    font-weight: 100;
    font-size: 1.2rem;
    cursor: pointer;
}
header .chat i:hover{
    color: #4b00e0de;
    text-shadow: 0 0 20px #4b00e0de;
}


/* posts */
.post_container{
    width: 280px;
    height: 490px;
    /* background: #8E2DE2; */
    position: relative;
    margin-top: 10px;
    padding-bottom: 60px;
    overflow-x: auto;
    display: none;
}
.active{
    display: block;
}
.post_container::-webkit-scrollbar{
    width: 0;
}
.post{
    /* background: #e84545; */
    width: 100%;
    /* height: 200px; */
    margin-bottom: 20px;
    /* overflow: hidden; */
    position: relative;
    display: flex;
    border-radius: 10px;
    justify-content: center;
}
.post img{
    width: 100%;
    border-radius: 10px;
}
.post_footer{
    width: 95%;
    position: absolute;
    bottom: 6px;
    background: rgba(240, 240, 240, 0.075);
    backdrop-filter: blur(20px);
    padding: 8px 0;
    border-radius: 10px 10px ;
    justify-content: space-around;
}
.post_footer img{
    width: 30px;
    height: 30px;
    border-radius: 50px;
}
.post_footer p{
    font-size: 0.7rem;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.68);
    margin-left: 6px;
}
.post_footer i{
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.68);
    margin: 6px;
    cursor: pointer;
}
/* browse */
.browse, .likes, .profile{
    width: 280px;
    height: 490px;
    background: #4A00E0;
    display: none;
}
.likes{
    background: #f21170;
}
.profile{
    background: #ff8303;
}
.active{
    display: block;
}